@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
}
/* Custom scrollbar style */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #facc15;
  border-radius: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #1f2937;
}
